<footer>
    <nav>
        <a href="https://github.com/georgeasnts" target="_blank"> GitHhub </a> 
        <a href="https://georgeasnts.github.io/" target="_blank"> GitHub.io </a> 
        <a href="https://georgeasnts.github.io/web115" target="_blank"> WEB115.io </a> 
        <a href="https://www.freecodecamp.org/georgeasnts" target="_blank"> freeCodeCamp </a> 
        <a href="https://www.codecademy.com/profiles/georgeasnts" target="_blank"> Codecademy </a> 
        <a href="https://jsfiddle.net/user/georgeasnts/fiddles/" target="_blank"> JSFiddle</a> 
        <a href="https://www.codecademy.com/profiles/georgeasnts" target="_blank"> LinkedIn </a>  
    </nav>
    <p id="slogan"><em>Elevate Your Digital Experience: Where Functionality Meets Aesthetic Vibes!</em></p>
    <p><em>Designed by User Utopia &copy; 2023</em></p>
    <p>
        <a class="footerLinks" id = "validation_link_html" href="https://validator.w3.org/check?uri=referer" target="_blank"> Validate HTML </a> &#10019;

        
      
        <a class="footerLinks" id = "validation_link_css" href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank"> Validate CSS
        </a>
    </p>
    

	<script>document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
		document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
	</script>
</footer>