<footer>
        <div class = "mainLinks">
          <a href="https://github.com/georgeasnts" target="_blank"> Github </a> |
          <a href="https://georgeasnts.github.io/" target="_blank"> Github.io </a> |
          <a href="https://georgeasnts.github.io/web115" target="_blank"> WEB115.io </a> |
          <a href="https://www.freecodecamp.org/georgeasnts" target="_blank"> FreeCodeCamp </a> |
          <a href="https://www.codecademy.com/profiles/georgeasnts" target="_blank"> Codecademy </a> |
          <a href="https://jsfiddle.net/user/georgeasnts/fiddles/" target="_blank"> Jsfiddle</a> |
          <a href="https://www.codecademy.com/profiles/georgeasnts" target="_blank"> Linkedin </a>  
        </div>
        
          <div class="footerLinks">
            <a class="footerLinks" href="https://validator.w3.org/nu/?showsource=yes&showoutline=yes&showimagereport=yes&doc=https%3A%2F%2Fgeorgeasnts.github.io%2Fweb115%2Fintroduction.html#l60c36" target="_blank"> Validate HTML </a>
      
            <a class="footerLinks" href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fgeorgeasnts.github.io%2Fweb115%2Fintroduction.html&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en" target="_blank"> Validate CSS </a>
          </div>
            <p>Designed by Georgea Freitas</p>
      </footer>