.introSelfie {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.introSelfie img {
	width: 15%; /* Adjust the width as needed */
      }
.introSelfie figcaption {
	margin-top: 10px; /* Adjust the margin as needed */
	color: #b57ac0; /* Adjust the color as needed */
	font-style: italic;
      }
.introSelfieCaption {
	display: flex;
	justify-content: center;
}
.welcomeParagraph {
	color: #4E2E54;
	font: inherit;
	text-align: left;
	line-height: 25px;
	margin-left: 150px;
	margin-right: 250px;

}
.contractParagraph {
	color: #4E2E54;
	font: inherit;
	text-align: left;
	line-height: 25px;
	padding-top: 15px;
	margin-left: 150px;
	margin-right: 250px;
}

.introductionParagraph{
	color: #4E2E54;
	font: icon;
	justify-content: left;
	line-height: 50px;	
}

.crumbs {
	background-color: #4E2E54;
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	height: 40px;
	font-size: 20px;
}

.crumbsLinks a {
	color: #f8f8f8;
	text-decoration: none;
	padding: 5px 10px; /* Add some padding to links (adjust as needed) */
	margin: 0 10px; /* Add spacing between links (adjust as needed) */

}
.crumbsLinks a:hover {
	color:#b57ac0;
}

.mainLinks {
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	height: 50px;
	font-size: 30px;
	background-color: #4E2E54;;
	text-decoration: none;
}

.mainLinks a {
	
}

.mainLinks 
}

.footerLinks {
	color:#b57ac0;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 10px;
	text-decoration: none;
}
.footerLinks a:hover {
	color: #4E2E54;
	
}