@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Lato:ital,wght@0,400;1,100;1,300&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: white;
	font-family: DM Sans, sans-serif;
}


h1 {
	text-align: center;
	margin: 5px;
	color: #2F1C6A;
}
h2 {
	color: #673DE6;
	text-align: center;
	margin: 20px;

}

hr {
	color: #47294C;
	margin: 20px;
	margin-left: 300px;
	margin-right: 300px;
}

p {
	text-align: center;
	margin-left: 350px;
	margin-right: 350px;
	justify-content: left;
}

.logoContainer {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	background-color:#F4F5FF
}

.missionContentContainer {
	text-align: justify;

}
.container {
	margin: 20px;
	border: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container .color {
	list-style: none;
	margin: 13px;
	padding: 7px;
	text-align: center;
	
}

.container .rect-boxF4F5FF {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #F4F5FF;
}
.container .rect-box673DE6 {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #673DE6;
}

.container .rect-box2F1C6A {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #2F1C6A;
}

.container .rect-box47294C {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #00D084;
}
.container .rect-box000000 {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #000000;
}

.color .hex-value {
	display: block;
	margin: 12px 0 8px;
	font-size: 13px;
	font-weight: 300;
}

.footerLinks {
	text-align: center;
    }
    
    .link {
	display: inline-block;
	margin: 10px;
	text-align: center;
    }
    
    .link img {
	vertical-align: middle;
	margin-right: 5px;
    }
    
    .link a {
	display: block; /* Display links as blocks */
	margin-top: 5px; /* Add space between image and link */
    }
    
    
