body {
	font-family: 'Spectral', serif;
	line-height: 30px;
	
	background-color: #e0d4ca;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 125%;
	color: #553d36;
}
header, footer {
	
	text-align: center;
	margin-top: 2%;
   }
   
main{
	margin-left: 100px;
	margin-right: 100px;
   }
nav {
	background-color: #f5f5f5;
	word-spacing: 25px;
	height: 40px;
	padding-top: 10px;
	font-size:22px;
   }
a {
	color:#c68674;
	text-decoration: none;
}
a:hover {
	color:#8c7c75;
   }
nav a {
	color:#c68674;
	text-decoration: none;
   }

nav a:hover{
	color:#8c7c75;
}

h1 {
	
	color: #424242;
	font-size: 35px;
	font-weight: lighter;
	text-align: center;
	padding: 20px;
}

h2, h3 {
	color: #7d8763;
	font: inherit;
	text-align: center;
	line-height: 25px;
	font-size: 130%;
	padding-top: 20px;
	padding-bottom: 20px;
}

h3 {
	color: #424242;
	
	font-size: 120%;
	
}
h2 p{
	display: block;
	color: #757575;
	font-size: 25px;
	line-height: 35px;
}

figure {
	text-align: center; 	
}
figcaption {
	font-family: 'Cormorant Garamond';
	color: #553d36;
	font-style: italic;
}

li {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 35px;
	justify-content: center;
}

li li {
	margin-top: 14px;
	
}

fieldset{
	background-color: #f5f5f5;
	width:fit-content;
	height: 300px;
	margin: auto;
	margin-bottom: 30px;
	border: none;
	color:#424242;
	text-align: left;
}
label{
	display: block;
	padding: 20px;
	padding-left: 0;
}
legend{
	display: block;
	text-align: center;
	margin: auto;
	
	
}
#headerImage{
	float: inline-start;
	border-radius: 30px;
}
#submit{
	margin-left: 80px;
	margin-right: 10px;
	background-color: #C68674;
	align-content: center;
}
#reset{
	background-color: #C68674;
}

#submit:hover, #reset:hover {
	background-color: #8c7c75;
	color: #f8f8f8;
}


#slogan {
	color: #7d8763;
	font-size: 20px;
	font-weight: lighter;
	font-family:'Cormorant Garamond';
	display: block;
	text-align: center;	
}

#colorPallete {
	text-align: center;
    }
    
 #colorPallete li {
	display: inline-block;
	margin: 20px 20px;
	height: 180px; 
	width: 180px;  
	border-radius: 50%;
	position: relative;
	overflow: hidden;
    }
    
    #colorPallete li span {
	display: block;
	height: 100%;
	width: 100%;
	background-color: inherit;
    }
    
    #colorPallete li p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	color: #f8f8f8;
	font-size: 15px;
    }
    
    #dot1 {
	background-color: #424242;
    }
    
    #dot2 {
	background-color: #7d8763;
    }
    
    #dot3 {
	background-color: #C68674;
    }
    
    #dot4 {
	background-color:#553D36;
    }
    

    #fontShowcase {
	text-align: center; 
	margin-right: 50px;
    }
    
    #fontShowcase li {
	display: inline-block; 
	font-size: 25px; 
	color: #553D36;
	line-height: 50px;
	
    }

    #fontShowcase li  p{
	color: #553D36;
	font-size: 20px;
	line-height: 50px;
	letter-spacing: 2px;
	
    }

    #cormorantFont {
	font-family:'Cormorant Garamond';
    }
    #outputList {
	columns: 4; /* Adjust the number of columns as needed */
	list-style-type: decimal; /* Use decimal numbers as the list item marker */
	padding: 0; /* Remove default padding to ensure proper alignment */
    }
    
    #outputList li {
	margin: 0; /* Remove default margin to ensure proper alignment */
	padding: 5px;
    }