*{
	margin-left: 10px;
	margin-right: 10px;
}
header {
	font-family: 'DM Sans', sans-serif;
	text-align: center;
	display: block;
	box-sizing: border-box;
   }
h1 {
	color: #4E2E54;
	font-size: 35px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: lighter;
	font-family: 'Lato', sans-serif;
}

h2 {
	color: #4E2E54;
	font: inherit;
	text-align: center;
	line-height: 25px;
	font-size: 25px;
	font-family: 'Lato', sans-serif;

}
body {
	background-color: #f8f8f8;
	display: block;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}
figure {
	align-items: center;
	margin: 60px;
	margin: 5px;
}

nav {
	align-content: center;
	font-family: 'DM Sans', sans-serif;
	font-weight: 100;
	
}
li{
	list-style: none;
	line-height: 25px;
	margin-left: 5%;
	margin-right: 5%;
	justify-content: center;
}

.introSelfie {
	display: flex;
	justify-content: center;
	align-content: center;
}
.introSelfieCaption {
	display: flex;
	justify-content: center;
}
figcaption {
	color: #b57ac0;
}
.welcomeParagraph {
	color: #4E2E54;
	font: inherit;
	text-align: left;
	line-height: 25px;
	font-family: 'Lato', sans-serif;
	margin-left: 150px;
	margin-right: 250px;

}
.contractParagraph {
	color: #4E2E54;
	font: inherit;
	text-align: left;
	line-height: 25px;
	font-family: 'Lato', sans-serif;
	padding-top: 15px;
	margin-left: 150px;
	margin-right: 250px;
}

.introductionParagraph{
	color: #4E2E54;
	font: icon;
	justify-content: left;
	line-height: 50px;
	
}

.crumbs {
	background-color: #4E2E54;
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	height: 40px;
	font-size: 20px;
}

.crumbsLinks a {
	color: #f8f8f8;
	text-decoration: none;
	padding: 5px 10px; /* Add some padding to links (adjust as needed) */
	margin: 0 10px; /* Add spacing between links (adjust as needed) */

}
.crumbsLinks a:hover {
	color:#b57ac0;
}

.mainLinks {
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	height: 50px;
	font-size: 30px;
	color: #4E2E54;
	text-decoration: none;
}

.mainLinks a {
	color: #4E2E54;
	text-decoration: none;
	font-size: medium;
}

.mainLinks a:hover {
	color:#b57ac0;
}

.footerLinks {
	color: #4E2E54;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 10px;
	text-decoration: none;
}
.footerLinks a:hover {
	color:#b57ac0;
}