body {
	font-family: 'Lato', sans-serif;
	line-height: 30px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #f8f8f8;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 125%;

}
header, footer {
	text-align: center;
	margin-top: 5%;
   }
   
main{
	margin-left: 100px;
	margin-right: 100px;
   }
nav {
	background-color: #4E2E54;
	word-spacing: 25px;
	height: 40px;
	padding-top: 10px;
	font-size:22px;
   }
a {
	color:#b57ac0;
	text-decoration: none;
}
a:hover {
	color:#4E2E54;
   }
nav a {
	color:#f8f8f8;
	text-decoration: none;
   }

nav a:hover{
	color:#b57ac0;
}

h1 {
	color: #4E2E54;
	font-size: 35px;
	font-weight: lighter;
	text-align: center;
}




h2 {
	color: #4E2E54;
	font: inherit;
	text-align: center;
	line-height: 25px;
	font-size: 130%;
}
h2 p{
	display: block;
	color: black;
	font-size: 25px;
	line-height: 35px;
	
}

figure {
	text-align: center; 	
}
figcaption {
	color: #4E2E54;
	font-style: italic;
}

li {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 35px;
	justify-content: center;
}

li li {
	margin-top: 14px;
	
}

fieldset{
	background-color: #b57ac0;
	width:fit-content;
	height: 300px;
	margin: auto;
	margin-bottom: 30px;
	border: none;
	color:#f8f8f8;
	text-align: left;
}
label{
	display: block;
	padding: 20px;
	padding-left: 0;
}
legend{
	display: block;
	text-align: center;
	margin: auto;
	background-color:#4E2E54;
	
}
#headerImage{
	color: whitesmoke;
	border-radius: 45px;
	float: left;
	margin: -15px 10px 10px;
}
#submit{
	margin-left: 80px;
	margin-right: 10px;
	background-color: #f8f8f8;
	align-content: center;
}
#reset{
	background-color: #f8f8f8;
}

#submit:hover, #reset:hover {
	background-color: #4E2E54;
	color: #f8f8f8;
}


#slogan {
	color: #771386;
	font-size: 20px;
	font-weight: lighter;
	display: block;
	text-align: center;
	
}
#dot {
	height: 50px;
	width: 50px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	
      }

#colorPallete {
	display: block;
	text-align: center;
}

#colorPallete li {
	display: inline-block;
	margin: 20px 50px 20px 50px;
}